.assigned {
    .list-group .active {
        background: #e6e6e6;
        color: #b82324;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
    .input-group {
        width: 60%;
        margin-inline-start: auto;
    }
    .line-through {
        text-decoration: line-through;
        color: #ccc;
    }
}
