@import "./Global.scss";

.sidebar {
    position: fixed;
    width: 70px;
    top: 0;
    z-index: 100;
    transition: all 0.1s linear;
    height: 100%;
    background: #ddd;
    padding: 0 5px;
    // overflow-y: auto;
    a {
        &:hover {
            text-decoration: none;
        }
    }
    .sidebar-link {
        transition: 0.1s;
        .sidebar-icon {
            i {
                font-size: 40px;
                color: $greyBpower;
                transition: 0.1s;
            }
        }
        .sidebar-text {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            p {
                margin: 0;
                color: #fff;
                transition: 0.1s;
            }
        }
        .sidebar-icon {
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .sidebar-box {
            display: flex;
            justify-content: space-between;
        }
        &:hover {
            background: #f8f9fa;
            .sidebar-icon {
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0;
                i {
                    color: $redBpower;
                }
            }
            .sidebar-text {
                p {
                    margin: 0;
                    color: $redBpower;
                }
            }
        }
    }
    .active {
        .sidebar-link {
            background: #f8f9fa;
            .sidebar-icon {
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0;
                i {
                    color: $redBpower;
                }
            }
            .sidebar-text {
                p {
                    margin: 0;
                    color: $redBpower;
                }
            }
        }
    }
}
.sidebar-next {
    position: fixed;
    width: 5px;
    background: #ddd;
    width: 25px;
    top: 0;
    left: 70px;
    height: 100%;
    border-left: 2px solid #fff;
    .sitebar-burger {
        z-index: 100;
        color: #fff;
        position: fixed;
        border-radius: 50%;
        background: lightgrey;
        font-size: 20px;
        top: 65px;
        padding: 8px;
        &:hover {
            background: #c8c8c8;
            cursor: pointer;
        }
    }
    .sidebar-next-container {
        transition: all 0.1s linear;
    }
}
.sidebar-wide {
    background: #ddd;
    transition: all 0.1s linear;
    width: 250px;
    z-index: 100;
    padding: 10px;
    .sitebar-burger {
        left: 305px;
        transition: all 0.1s linear;
    }
    .sidebar-next-container {
        // .sidebar-next-logo {
        //     width: 100%;
        //     height: 80px;
        //     transition: all 0.1s linear;
        // }
        .sidebar-next-search {
            width: 100%;
            input {
                padding-left: 5px;
                border: none;
                border-bottom: 2px solid $redBpower;
                outline: none;
                // height: 30px;
            }
            .sidebar-search-result {
                border-radius: 5px;
                border: 1px solid #a9a9a9;
                display: inline-block;
                width: 100%;
                background: #fff;
                padding: 5px;
                margin: 3px 0;
                color: #000;
            }
        }
    }
}
.sidebar-narrow {
    padding: 10px;
    background: #ddd;
    transition: all 0.1s linear;
    .sitebar-burger {
        left: 75px;
        transition: all 0.1s linear;
    }
    .sidebar-next-container {
        // .sidebar-next-logo {
        //     width: 0;
        //     height: 80px;
        //     transition: all 0.1s linear;
        // }
        .sidebar-next-search {
            width: 0%;
            display: none;
        }
    }
}
.BurgerSlider:focus {
    outline: none;
}
.navigation {
    margin-left: 95px;
    // background: #ddd;
    img {
        width: 150px;
    }
}
